h1 {
    color: rgba(173, 231, 139, 0.596);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    margin: 0;
    line-height: 1.6;

}
header{
    background-color:rgba(127, 182, 255, 0.753) ;
    color: rgb(4, 8, 12);
    text-align: center;
    padding: 30px 20px;
}
nav{
    background-color:rgba(151, 113, 113, 0.377) ;
    text-align: center;
    padding: 12px;
}
nav{
    color: rgb(175, 10, 10);
    text-decoration: rgb(102, 165, 72);
    margin: 0 15px;
    font-weight: bold;
}
nav a:hover{
    color:black;
}
section{
    background-color:rgba(0, 132, 255, 0.562);
    margin: 20px auto ;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
}
img{
    border-radius: 10px;
    margin-top: 10px;
}
footer{
    background-color: rgba(79, 71, 190, 0.555);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}